nextflow.enable.dsl=2

//conda settings
conda {
    enabled = true
    useMamba = true
    cacheDir = "${baseDir}/work/cache"
}

// Defining parameters
params {
    outdir = "${baseDir}"
    genome = "${baseDir}/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    reads = "${baseDir}/*_{1,2}.fastq.gz"  
    srr = null  
    dbsnp ="${baseDir}/*.dbsnp138.vcf"
    interval_list = "${baseDir}/*.interval_list"
    conda_env = "${baseDir}/work/conda/"
}


// Defining configuration processes
process {
    executor = 'local'
    cpus = 6 
    memory = 10.GB 
    conda = params.conda_env
    
    withLabel: high_process{
        cpus = 6
        memory = 10.GB
        time = 8.h
    
    }   
    withLabel: mid_process {
        cpus = 4
        memory = 6.GB
        time = 4.h
    }

    withLabel: low_process{
        cpus = 2
        memory = 2.GB
        time = 2.h
    } 
    
}


